mixin nav(className, items, activeIndex)
	nav(class=className)
		.container
			ul(class="#{className}__list")
				each item, index in items
					li(class="#{className}__item" + ((activeIndex == index) ? " #{className}__item-active" : ''))
						a(href="#" class="#{className}__link")= item


mixin breadcrumbs(items)
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				each item, ndx in items
					li.breadcrumbs__item(class="#{ndx == items.length - 1 ? 'breadcrumbs__item_active' : ''}")
						a(href="#").breadcrumbs__link= item

mixin checkbox(titles)
	each item in titles
		li(class="filter__item")
			input(type="checkbox" id=item).input.input_type_checkbox
			label(for="#{item}").label.label_type_checkbox #{item}

mixin colorChoose(colors)
	ul.color__list
		each item in colors
			li.color__item
				a(href = "#" class = "color__link #{item}")
					span.color__text = item
